body {
	background-color: #18061b;
	margin: 0;
	margin-bottom: 1000px;
	font-family: Helvetica;
}

p {
	font-size: 20px;
	color: white;
}

li {
	font-size: 20px;
	color: white;
}

/*div {
	border: 1px red solid;
}*/

#first {
	background-image: url(/users/tech-a60/my_website/images/background-banner.jpg);
	background-repeat: repeat-x;
	width: 100%;
	height: 720px;
}

#head {
	display: inline-block;
	position: absolute;
	font-family: 'Indie Flower', cursive;
	left: 3%;
	top: 5%;
	font-size: 30px;
	color: white;
}

#profile {
	display: inline-block;
	position: absolute;
	left: 3%;
	right: 60%;
	top: 35%;
}

#linkedin {
	display: inline-block;
	position: absolute;
	left: 30%;
	top: 37%;
}

#workhistory {
	display: inline-block;
	position: absolute;
	left: 41%;
	right: 25%;
	top: 88%;
}

#samplebox {
	display: inline-block;
	position: absolute;
	left: 3%;
	right: 60%;
	top: 88%;
}

#heading1 {
	color: white;
} 

.borders {
	border-style: solid;
	border-radius: 5px;
	border-width: 3px;
	border-color: white;
}

.headings {
	font-weight: bold;
	font-family: 'Indie Flower', cursive;
	font-size: 40px;
	color: white;
}
