body {

}


/*.card { 
	background-color: rgba(245, 245, 245, 0.4); 
	opacity: .4;
}
.card-strong { 
	opacity: 1
}*/


.coffee-background {
    background-image: url("http://unitedvending.com/img/coffee-banner.jpg");
}

.top-break {
	margin-top: 15%;
}

nav {
	position: fixed;
}